h1{
    margin-top: 30px;
}

label{
    margin-top: 20px;
    margin-bottom: 10px;
}


button{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right:10px;
    padding: 5px;
}

strong{
    margin-right: 50px;
    
}
table{
    margin-top: 50px;
    margin-bottom: 100px;
}

.padre{
    display: flex;
    justify-content: center;
    margin-top:35px;
    
}

.hijo{
    margin-top:35px;
    margin-right: 10px;
    margin-left: 30px;
}

h4{
    text-transform: none;
    margin: 10px;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.containerr{
    display: flex;
    justify-content: center;
}